<template>
    <li class="list-group-item"
    style="cursor: pointer"
    @click="serverSelected">
        Server id: {{ server.id }} status: {{ server.status }}
    </li>
</template>

<script>
    import { eventBus } from '../../main';

    export default {
        name: 'app-server',
        props: {
            server: {
                type: Object,
                required: true
            }
        },
        methods: {
            serverSelected: function () {
                eventBus.$emit('serverSelected', this.server)
            }
        }
    }
</script>

<style>

</style>
