<template>
    <div class="col-xs-12 col-sm-6">
        <div v-if="!server">Please select a server</div>
        <div v-else>
            Server {{ server.id }} selected.  Status is {{ server.status }}
            <hr/>
            <button @click="setStatusNormal">Set normal status</button>
        </div>
    </div>

</template>

<script>
    import { eventBus } from '../../main'

    export default {
        data() {
            return {
                server: null
            }
        },
        methods: {
            setStatusNormal() {
                this.server.status = 'normal'
            }
        },
        created() {
            eventBus.$on('serverSelected', (server) =>{
              this.server = server
            })
        }
    }
</script>

<style>

</style>
